<div class="bjui-pageHeader" style="background:#FFF;">
    <label class="control-label">日期</label>
    <input type="text" name="dateTime" id="repertoryCheckdateTime" value="" data-toggle="datepicker" size="13" />
    <label class="control-label">单据编号</label>
    <input type="text" id="repertoryCheckfCode" size="15" />
    <label class="control-label">仓库</label>
    <select id="repertoryCheckWarehose" data-toggle="selectpicker"></select>
    <label class="control-label">表单状态</label>
    <select id="repertoryCheckStatus" name="fStatus" data-toggle="selectpicker">
        <option value="1" selected="selected">未提交</option>
        <option value="2">已提交</option>
    </select>
    <button type="button" id="searchCodeName" class="btn btn-success">查询</button>
</div>
<div class="bjui-pageContent">
    <table id="tabRepertoryCheck" data-height="100%" class="table table-bordered table-striped"></table>
</div>
<script type="text/javascript">
    $(function () {
        var wareHouseLst;
        $(this).bjuiajax("doAjax", {
            url: "/Common/GetWareHoseJson?FCATEGORY=1",
            async: false,
            callback: function (json) {
                wareHouseLst = json;
            }
        });
        LoadWareHose('repertoryCheckWarehose', '');
        var repertoryCheckGrid = $("#tabRepertoryCheck").datagrid({
            gridTitle: '库存盘点',
            showToolbar: true,
            toolbarItem: 'add,save,cancel',
            addLocation: 'first',
            dataUrl: '/RepertoryCheck/GetRepertoryCheckList',
            dataType: 'json',
            filterThead: false,
            columns: [
                {
                    name: 'FDATE',
                    label: '日期',
                    type: 'date',
                    align: 'center',
                    add: false,
                    width: 170
                },
                {
                    name: 'FCODE',
                    label: '单据编号',
                    align: 'center',
                    width: 170,
                    add: false
                },
                {
                    name: 'FWAREHOUSEID',
                    label: '仓库',
                    align: 'center',
                    type: 'select',
                    items: function () {
                        return wareHouseLst;
                    },
                    width: 100
                },
                {
                    name: 'FMEMO',
                    label: '摘要',
                    align: 'center',
                    width: 100
                },
                {
                    name: 'FAPPLYName',
                    label: '填表人',
                    align: 'center',
                    width: 100,
                    add: false
                },
                {
                    name: 'FAPPLYTIME',
                    label: '填表日期',
                    align: 'center',
                    width: 100,
                    add: false
                },
                {
                    name: 'FSTATUS',
                    label: '表单状态',
                    defaultVal:1,
                    type: 'select',
                    items: [{ '1': '未提交' }, { '2': '已提交' }],
                    align: 'center',
                    add:false,
                    width: 80,
                    render: $.datagrid.renderItem
                }
            ],
            linenumberAll: true,
            editUrl: '/RepertoryCheck/EditRepertoryCheckJson',
            contextMenuB: true,
            editMode: 'inline',
            height: '100%',
            inlineEditMult: false,
            onDblClickRow: function (rowData, index) {
                var ware = $(this).GetSelectText(wareHouseLst, rowData.FWAREHOUSEID);
                var jsonStr = JSON.stringify(rowData);
                $(this).navtab({
                    id: 'RepertoryCheckDetails', url: '/RepertoryCheck/RepertoryCheckDetails', title: '库存盘点明细',
                    data: { rowData: jsonStr, ware: ware}, fresh: true
                });
            }
        });
    })
</script>
