<div class="bjui-pageHeader" style="background:#FFF;">
    <label class="control-label">仓库</label>
    <select id="selWareHouse"  data-toggle="selectpicker">

    </select>
    
    <label class="control-label">开始时间</label>
    <input type="text" name="dateTime" id="startdateTime" value="" data-toggle="datepicker" size="13" />    
    <label class="control-label">结束时间</label>
    <input type="text" name="dateTime" id="enddateTime" value="" data-toggle="datepicker" size="13" />
    <button type="button" id="btnSearch" class="btn btn-success">查询</button>
</div>
<div class="bjui-pageContent">
    <table id="tabWarning" data-height="100%" class="table table-bordered table-striped"></table>
</div>
<script type="text/javascript">
    $(function () {
        $("#btnSearch").click(function () {
            reLoadWarning();
        });
        setInterval(reLoadWarning, 5 * 60 * 1000);

        maingrid = $("#tabWarning").datagrid({
            gridTitle: '销售预警',
            showToolbar: false,
            addLocation: 'first',
            dataUrl: '/WARNING/GetWarningJson',
            dataType: 'json',
            filterThead: false,
            columns: [
                {
                    name: 'FGUID',
                    label: 'FGUID',
                    align: 'center',
                    hide:true,
                    width: 50

                },
                {
                    name: 'FGOODSID',
                    label: '商品编号',
                    align: 'center',
                    width: 100,
                },
                {
                    name: 'FGOODSNAME',
                    label: '商品名称',
                    align: 'center',
                    width: 80
                },
                {
                    name: 'FWAREHOUSEID',
                    label: '仓库',
                    align: 'center',
                    width: 80
                },
                {
                    name: 'FENDTIME',
                    label: '销售完成时间',
                    hide: true,
                    align: 'center',
                    width: 80
                }
            ],
            contextMenuB: true,
            editMode: 'inline',
            fullGrid: true,
            showLinenumber: true,
            paging: true,
            height: '100%',
            showCheckboxcol: false
        });
    });

    function reLoadWarning()
    {
        console.log(1);
        var url = '/WARNING/GetWarningJson?FWAREHOUSEID=' + $("#selWareHouse").val();
        maingrid.datagrid("reload", { dataUrl: url });
    }
</script>