<div class="bjui-pageHeader" style="background:#FFF;">
    <label class="control-label">名称</label>
    <input type="text" id="txtFNAME" size="15" />
    <button type="button" id="btnSearchDictCategory" class="btn btn-success">查询</button>
</div>
<div class="bjui-pageContent">

    <table id="tabDICTCategory" data-height="100%" class="table table-bordered table-striped"></table>
</div>
<script type="text/javascript">
    $(function () {
        $.CurrentNavtab.find("#btnSearchDictCategory").click(function () {
            var url = '/DICTCategory/GetAllDATADICTJson?FNAME=' + $.CurrentNavtab.find("#txtFNAME").val();
            DICTCategorymaingrid.datagrid("reload", { dataUrl: url });
        });
        DICTCategorymaingrid = $("#tabDICTCategory").datagrid({
            gridTitle: '字典类别维护',
            showToolbar: true,
            toolbarItem: 'add,save,|,cancel,edit',
            addLocation: 'first',
            dataUrl: '/DICTCategory/GetAllDATADICTJson',
            dataType: 'json',
            filterThead: false,
            columns: [
                {
                    name: 'FGUID',
                    label: 'FGUID',
                    align: 'center',
                    hide:true,
                    width: 50

                },
                {
                    name: 'FID',
                    label: '编号',
                    edit: false,
                    align: 'center',
                    width: 100,
                },
                {
                    name: 'FNAME',
                    label: '名称',
                    align: 'center',
                    width: 80
                },
                {
                    name: 'FMEMO',
                    label: '备注',
                    align: 'center',
                    width: 80
                }
            ],
            editUrl: '/DICTCategory/EditDATADICT',
            //delUrl: '/DICTCategory/DelDATADICT',
            delConfirm: true,
            contextMenuB: false,
            editMode: 'inline',
            fullGrid: true,
            showLinenumber: false,
            paging: true,
            height: '100%',
            showCheckboxcol: false
        });
    });
</script>