<div class="bjui-pageHeader" style="background:#FFF;">
    <label class="control-label">日期</label>
    <input type="text" name="dateTime" id="dateTime" value="" data-toggle="datepicker" size="13" />
    <label class="control-label">单据编号</label>
    <input type="text" id="fCode" size="15" />
    <label class="control-label">表单状态</label>
    <select name="fStatus" data-toggle="selectpicker">
        <option value="1" selected="selected">未提交</option>
        <option value="2">已提交</option>
    </select>
    <button type="button" id="searchCodeName" class="btn btn-success">查询</button>
</div>
<div class="bjui-pageContent">
    <table id="tabGoodsBack" data-height="100%" class="table table-bordered table-striped"></table>
</div>
<script type="text/javascript">
    $(function () {
        var wareHouseLst,inWareHouseLst;
        $(this).bjuiajax("doAjax", {
            url: "/Common/GetWareHoseJson?FCATEGORY=2",
            async: false,
            type:'get',
            callback: function (json) {
                wareHouseLst = json;
            }
        });
        $(this).bjuiajax("doAjax", {
            url: '/Common/GetWareHoseJson?FCATEGORY=1',
            type:'get',
            async: false,
            callback: function (json) {
                inWareHouseLst = json;
            }
        });
        var url="";
        var goodsBackGrid = $("#tabGoodsBack").datagrid({
            gridTitle: '商品回库列表',
            showToolbar: true,
            toolbarItem: 'add,save,cancel',
            addLocation: 'first',
            dataUrl: '/GoodsBack/GetGoodsBackList',
            dataType: 'json',
            filterThead: false,
            columns: [
                {
                    name: 'FDATE',
                    label: '日期',
                    type: 'date',
                    align: 'center',
                    add: false,
                    width: 170
                },
                {
                    name: 'FCODE',
                    label: '单据编号',
                    align: 'center',
                    width: 170,
                    add: false
                },
                {
                    name: 'FOUTWAREHOUSEID',
                    label: '调出仓库',
                    align: 'center',
                    type: 'select',
                    items: function () {
                        return wareHouseLst;
                    },
                    width: 100
                },
                {
                    name: 'FINWAREHOUSEID',
                    label: '调回仓库',
                    align: 'center',
                    type: 'select',
                    items: function () {
                        return inWareHouseLst;
                    },
                    width: 100
                },
                {
                    name: 'FMEMO',
                    label: '摘要',
                    align: 'center',
                    width: 100
                },
                {
                    name: 'FAPPLYName',
                    label: '填表人',
                    align: 'center',
                    width: 100,
                    add: false
                },
                {
                    name: 'FAPPLYTIME',
                    label: '填表日期',
                    align: 'center',
                    width: 100,
                    add: false
                },
                {
                    name: 'FSTATUS',
                    label: '表单状态',
                    type: 'select',
                    items: [{ '1': '未提交' }, { '2': '已提交' }, {'3':'已保存'}],
                    align: 'center',
                    width: 80,
                    render: $.datagrid.renderItem
                },
                {
                    name: 'FSTARTTIME',
                    label: '启用时间',
                    type: 'date',
                    edit: false,
                    add: false,
                    width: 180,
                    render: function (value) {
                        return value == null ? "" : value;
                    }
                },
            ],
            linenumberAll:true,
            editUrl: '/GoodsBack/EditGoodsBackJson',
            contextMenuB: true,
            editMode: 'inline',
            height: '100%',
            inlineEditMult: false,
            onDblClickRow: function (rowData, index) {
                var outWare = $(this).GetSelectText(wareHouseLst, rowData.FOUTWAREHOUSEID);
                var inWare = $(this).GetSelectText(inWareHouseLst, rowData.FINWAREHOUSEID);
                var jsonStr = JSON.stringify(rowData);
                $(this).navtab({
                    id: 'goodsBackDetails', url: '/GoodsBack/GoodBackDetails', title: '商品回库明细',
                    data: { rowData: jsonStr, outWare: outWare, inWare: inWare }, fresh:true
                });
            }
        });
        function DetailsGrid() {
            
            this.reload = function () {
                this.goodsBackDetailGrid.datagrid('reload', { dataUrl: url });
            }
        }
    })
</script>
