<div class="bjui-pageHeader" style="background:#FFF;">
    <label class="control-label">日期</label>
    <input type="text" name="dateTime" id="startdateTime" value="" data-toggle="datepicker" size="13" />  
    <label class="control-label">单据编号</label>
    <input type="text" id="txtNo"  size="15"/>
    <label class="control-label">仓库</label>
    <select id="selWarehose" data-toggle="selectpicker">
        <option value="1" selected="selected">未提交</option>
        <option value="2">已提交</option>
    </select>
    <label class="control-label">表单状态</label>
    <select id="selState" data-toggle="selectpicker">
        <option value="1" selected="selected">未提交</option>
        <option value="2">已提交</option>
    </select>
    <button type="button" id="btnSearch" class="btn btn-success">查询</button>
    <button type="button" id="btnNew" class="btn btn-success" data-toggle="navtab" data-options="{id:'fncbalanceDetailTab', reloadWarn:'已打开财务结算明细页面，确认将重新载入?', url:'/FNCBALANCE/FncbalanceDetail?d=5', title:'财务结算明细'}">新增</button>
</div>
<div class="bjui-pageContent">
    <table id="tabFNCBALANCE" data-height="100%" class="table table-bordered table-striped"></table>
</div>
<script type="text/javascript">
    $(function () {
        $("#btnSearch").click(function () {
            var url = '/FNCBALANCE/GetAllFNCBALANCEJson?FID=' + $("#txtFID").val() + "&FNAME=" + $("#txtFNAME").val();
            maingrid.datagrid("reload", {dataUrl:url});
        });
        var itemJLDW = LoadUnitDataForRowSel();
        var itemSPFL = LoadGoodsDataForRowSel();
        maingrid = $("#tabFNCBALANCE").datagrid({
            gridTitle: '财务结算列表',
            showToolbar: false,
            addLocation: 'first',
            dataUrl: '/FNCBALANCE/GetAllFNCBALANCEJson',
            dataType: 'json',
            filterThead: false,
            columns: [
                {
                    name: 'FGUID',
                    label: 'FGUID',
                    align: 'center',
                    hide:true,
                    width: 50

                },
                {
                    name: 'FDATE',
                    label: '日期',
                    type: 'date',
                    align: 'center',
                    width: 110,
                    pattern:'yyyy-MM-dd'
                },
                {
                    name: 'FCODE',
                    label: '单据编号',
                    align: 'center',
                    width: 100,
                },
                {
                    name: 'FWAREHOUSEID',
                    label: '仓库',
                    align: 'center',
                    width: 80
                },
                {
                    name: 'FMEMO',
                    label: '摘要',
                    align: 'center',
                    width: 80
                },
                {
                    name: 'FCREATEID',
                    label: '填表人',
                    align: 'center',
                    width: 80
                },
                {
                    name: 'FCREATETIME',
                    label: '填表日期',
                    type: 'date',
                    align: 'center',
                    width: 110,
                    pattern: 'yyyy-MM-dd'
                },
                {
                    name: 'FISCONSUMABLES',
                    label: '是否消耗品',
                    type:'select',
                    items:[{'0':'否'},{'1':'是'}],
                    align: 'center',
                    width: 80,
                    render: $.datagrid.renderItem
                },
                {
                    name: 'FSTATUS',
                    label: '表单状态',
                    type: 'select',
                    items: [{ '1': '未提交' }, { '2': '已提交' }],
                    align: 'center',
                    width: 80,
                    render: $.datagrid.renderItem
                }
            ],
            contextMenuB: true,
            editMode: 'inline',
            fullGrid: true,
            showLinenumber: true,
            paging: true,
            height: '100%',
            showCheckboxcol: false
        });
    });
</script>