<div class="bjui-pageHeader" style="background:#FFF;">
    <label class="control-label">编号</label>
    <input type="text" id="txtFID" size="15" />
    <label class="control-label">名称</label>
    <input type="text" id="txtFNAME"  size="15"/>
    <button type="button" id="btnSearch" class="btn btn-success">查询</button>
</div>
<div class="bjui-pageContent">
    <table id="tabGoods" data-height="100%" class="table table-bordered table-striped"></table>
</div>
<script type="text/javascript">
    $(function () {
        $("#btnSearch").click(function () {
            var url = '/CONSUMABLES/GetAllGoodsJson?FID=' + $("#txtFID").val() + "&FNAME=" + $("#txtFNAME").val();
            maingrid.datagrid("reload", {dataUrl:url});
        });

        maingrid = $("#tabGoods").datagrid({
            gridTitle: '商品维护',
            showToolbar: true,
            toolbarItem: '',
            addLocation: 'first',
            dataUrl: '/CONSUMABLES/GetAllGoodsJson',
            dataType: 'json',
            filterThead: false,
            columns: [
                {
                    name: 'FGUID',
                    label: 'FGUID',
                    align: 'center',
                    hide:true,
                    width: 50

                },
                {
                    name: 'FCREATETIME',
                    label: '创建时间',
                    type: 'date',
                    align: 'center',
                    width: 110,
                    add: false,
                    edit: false,
                    hide: true,
                    pattern:'yyyy-MM-dd'
                },
                {
                    name: 'FCODE',
                    label: '单据编号',
                    align: 'center',
                    width: 100,
                },
                {
                    name: 'FWAREHOUSEID',
                    label: '仓库',
                    type: 'select',
                    items: [{ '1': '总仓' }, { '2': '分仓' }],
                    align: 'center',
                    width: 80,
                    render: $.datagrid.renderItem
                },
                {
                    name: 'FPERSONID',
                    label: '采购人',
                    align: 'center',
                    width: 80,
                    render: $.datagrid.renderItem
                },
                {
                    name: 'FMEMO',
                    label: '摘要',
                    align: 'center',
                    width: 80
                },
                {
                    name: 'FCREATEID',
                    label: '填表人',
                    align: 'center',
                    width: 80
                },
                {
                    name: 'FCREATETIME',
                    label: '填表日期',
                    align: 'center',
                    width: 80
                },
                {
                    name: 'FISCONSUMABLES',
                    label: '表单状态',
                    type:'select',
                    items:[{'1':'未提交'},{'2':'已提交'}],
                    align: 'center',
                    width: 80,
                    render: $.datagrid.renderItem
                }
            ],
            contextMenuB: true,
            editMode: 'inline',
            fullGrid: true,
            showLinenumber: true,
            paging: true,
            height: '100%',
            showCheckboxcol: false
        });
    });
</script>