<div class="bjui-pageHeader" style="background:#FFF;">
    <label class="control-label">类别</label>
    <select name="fStatus" id="selCategory" data-toggle="selectpicker">
        
    </select>
    <label class="control-label">名称</label>
    <input type="text" id="txtFNAME" size="15" />
    <button type="button" id="btnSearchdict" class="btn btn-success">查询</button>
</div>
<div class="bjui-pageContent">
    <table id="tabDATADICT" data-height="100%" class="table table-bordered table-striped"></table>
</div>
<script type="text/javascript">
    $(function () {
        $.CurrentNavtab.find("#btnSearchdict").click(function () {
            var url = '/DATADICT/GetAllDATADICTJson?FNAME=' + $.CurrentNavtab.find("#txtFNAME").val() + "&FCATEGORY=" + $.CurrentNavtab.find("#selCategory").val();
            DATADICTmaingrid.datagrid("reload", { dataUrl: url });
        });

        $(document).on("click", "#DATADICT_qiyong,#DATADICT_jinyong", function () {
            var selectedDatas = DATADICTmaingrid.data('selectedDatas');
            if (selectedDatas == undefined || selectedDatas.length == 0) {
                $(this).alertmsg('warn', '未选中任何行');
                return false;
            }
            var btn = $(this).attr("id");
            var data = selectedDatas[0];
            switch (btn) {
                case "DATADICT_qiyong":
                    $(this).bjuiajax("doAjax", {
                        url: "/DATADICT/SetDATADICTStatus",
                        data: { FGUID: data.FGUID, FSTATUS: "2" },
                        confirmMsg: "确认启用？",
                        callback: function (json) {
                            if (json.result) {
                                DATADICTmaingrid.datagrid("updateRow", data.gridIndex, { FSTATUS: "2", FSTARTTIME: json.time });
                                $(this).alertmsg("ok", "已启用");
                            } else {
                                $(this).alertmsg("warn", "启用失败");
                            }
                        }
                    })
                    break;
                case "DATADICT_jinyong":
                    $(this).bjuiajax("doAjax", {
                        url: "/DATADICT/SetDATADICTStatus",
                        data: { FGUID: data.FGUID, FSTATUS: "3" },
                        confirmMsg: "确认禁用？",
                        callback: function (json) {
                            if (json.result) {
                                DATADICTmaingrid.datagrid("updateRow", data.gridIndex, { FSTATUS: "3", FENDTIME: json.time });
                                $(this).alertmsg("ok", "已禁用");
                            } else {
                                $(this).alertmsg("warn", "禁用失败");
                            }
                        }
                    })
                    break;
            }
        });
        LoadDictCategory("selCategory");
        var itemsData = LoadDataForRowSel();
      
        DATADICTmaingrid = $("#tabDATADICT").datagrid({
            gridTitle: '字典维护',
            showToolbar: true,
            toolbarItem: 'add,save,|,cancel,edit',
            toolbarCustom: function () {
                return '<button id="DATADICT_qiyong" class="btn btn-green">启用</button><button id="DATADICT_jinyong" class="btn btn-red">禁用</button>';
            },
            addLocation: 'first',
            dataUrl: '/DATADICT/GetAllDATADICTJson',
            dataType: 'json',
            filterThead: false,
            columns: [
                {
                    name: 'FGUID',
                    label: 'FGUID',
                    align: 'center',
                    hide:true,
                    width: 50

                },
                {
                    name: 'FID',
                    label: '编号',
                    align: 'center',
                    width: 100,
                },
                {
                    name: 'FNAME',
                    label: '名称',
                    align: 'center',
                    width: 80
                },
                {
                    name: 'FCATEGORY',
                    label: '类别',
                    type:'select',
                    items: function () {
                        return itemsData;
                    },
                    align: 'center',
                    width: 80,
                    render: $.datagrid.renderItem
                },
                {
                    name: 'FPARENTID',
                    label: '上级编码',
                    align: 'center',
                    width: 80
                },
                {
                    name: 'FORDER',
                    label: '序号',
                    align: 'center',
                    width: 80
                },
                {
                    name: 'FMEMO',
                    label: '备注',
                    align: 'center',
                    width: 80
                },
                {
                    name: 'FSTATUS',
                    label: '启用状态',
                    type: 'select',
                    items: [{ '1': '未启用' }, { '2': '已启用' }, { '3': '已禁' }],
                    align: 'center',
                    width: 80,
                    add: false,
                    edit: false,
                    render: $.datagrid.renderItem
                },
                {
                    name: 'FSTARTTIME',
                    label: '启用时间',
                    type: 'date',
                    add: false,
                    edit:false,
                    width: 110,
                    pattern: 'yyyy-MM-dd'
                },
                {
                    name: 'FENDTIME',
                    label: '禁用时间',
                    type: 'date',
                    add: false,
                    edit: false,
                    width: 110,
                    pattern: 'yyyy-MM-dd'
                }
            ],
            editUrl: '/DATADICT/EditDATADICT',
            //delUrl: '/DATADICT/DelDATADICT',
            delConfirm: true,
            beforeEdit: function (value, value1) {
                if (value1 != undefined&&value1.length>0)
                {
                    if (value1[0].FSTATUS == "2") {
                        $(this).alertmsg('warn', '已是启用状态，不可编辑！', { displayMode: 'slide', displayPosition: 'bottomcenter', okName: '确定', title: '编辑提示' });
                        return false;
                    } else {
                        return true;
                    }
                }
                return true;
            },
            beforeDelete: function () {
                //hpf 查看源码删除动作未带返回值，后续可参照编辑修改
                var value = maingrid.data('selectedDatas')[0];
                if (value.FSTATUS == "2") {
                    $(this).alertmsg('warn', '已是启用状态，不可删除！', { displayMode: 'slide', displayPosition: 'bottomcenter', okName: '确定', title: '删除提示' });
                    return false;
                } else {
                    return true;
                }
            },
            contextMenuB: true,
            editMode: 'inline',
            fullGrid: true,
            showLinenumber: false,
            paging: true,
            height: '100%',
            showCheckboxcol: false
        });
    });
</script>